[mysqld]
default-authentication-plugin=mysql_native_password
binlog_expire_logs_seconds=86400

datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid